<form novalidate class="panel panel-body user-prefs">
  <div class="form-group" ng-class="{active:isSet({{$index + 1}})}" ng-repeat="question in questionData">
    <h2>{{question.title}}</h2><span class="qCount">{{$index + 1}} of {{count}}</span>
    <p>{{question.question}}</p>
    <input type="range" min="{{question.minVal}}" max="{{question.maxVal}}" ng-model="question.model" class="mtn-slider">
    <div class='show-range'><span class="min-val">{{question.minVal}}</span><span class="max-val">{{question.maxVal}}</span></div>
    <p class="pref"><strong>Your Preference:</strong> {{question.answer}}</p>
    <button ng-click="setQuestion($index)" class='btn btn-info'>Previous Question</button>
    <button ng-click="setQuestion($index + 2)" class="btn btn-info next-btn">Next Question</button>
  </div>
</form>
