@mixin large {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width}) {
    @content;
  }
}

// medium and small viewport breakpoint
@mixin medium {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}

// input slider mixins
@mixin slider-thumb {
  border: $em*.05 solid $black;
  height: $em*2;
  width: $em*2;
  border-radius: 3px;
  background-color: $dark-grey;
  cursor: pointer;
  margin-top: -15px;
  @include transition($delay, $prop, $easing);
  &:hover {
    background-color: $black;
  }
}

@mixin slider-track {
  width: $hundo;
  height: 10px;
  cursor: pointer;
  //box-shadow: 3px 3px 3px $primary-dark;
  background: $grey;
  border-radius: 2px;
  border: $em*.2 solid $black;
}

form {
  width: $hundo;
}

// range input styles

// strip out browser default styles
input[type="range"] {
  margin: $em*3 0;
  -webkit-appearance: none;
  width: $hundo;
}

input[type="range"]:focus {
  outline: none;
}

// slider thumb
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  @include slider-thumb;
}

input[type="range"]::-moz-range-thumb {
  @include slider-thumb;
}

input[type="range"]::-ms-thumb {
  @include slider-thumb;
}

// slider track
input[type="range"]::-webkit-slider-runnable-track {
  @include slider-track;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background-color: $grey; // changes background color on click event
}

input[type="range"]::-moz-range-track {
  @include slider-track;
}

input[type="range"]::-ms-track {
  width: $hundo;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  @include slider-track;
}


// FORM GROUP SECTION

.user-prefs .form-group {
  padding: 0 1em;
  width: inherit;
  position: absolute;
  top: 34px;
  left: $hundo * 2;
  animation: 1s invisible;
  display: none;
  h2 {
    float: left;
    &.review-headline {
      float: none;
    }
  }
  .qCount {
    margin: 2.3em 0 0 1em;
    display: inline-block;
  }
  .show-range {
    margin-bottom: 1em;
    .max-val {
      float: right;
    }
    .min-val,
    .max-val {
      font-size: 1.4em;
    }
  }
  p {
    margin: 3em 0 0 0;
    font-size: 1.2em;
    &.pref {
      margin: 1em 0;
    }
  }
  &.active {
    animation: 1s visible;
    left: 0;
    display: block;
  }
  .next-btn {
    float: right;
  }
  .mtn-icon,
  .stability-icon {
    height: 100px;
  }
}

.user-prefs .review.form-group {
  p {
    margin: .5em 0;
  }
}

.bike-thumbs {
  @include flex;
  position: relative;
  top: 400px;
  .thumb {

  }
  .thumb-container {
    width: $full;
  }
}

@keyframes visible {
  from {
    opacity: 0;
    left: $hundo * 2;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes invisible {
  0% {
    opacity: 1;
    left: 0;
  }
  50% {
    opacity: 0;
    left: -$hundo * 2;
  }
  100% {
    left: $hundo * 2;
    opacity: 0;
  }
}
