// MIXINS
@mixin border($size, $color) {
  border: $size solid $color;
}

@mixin button-colors($mid, $dark) {
  background-color: $mid;
  @include border($em/8, $dark);
}

@mixin transition($delay, $prop, $easing) {
  -webkit-transition: $delay $prop $easing;
  transition: $delay $prop $easing;
}

@mixin flex {
  -webkit-display: flex;
  display: flex;
}

// GLOBAL STYLES
body {
  background-color: $white;
  font-family: "Roboto", sans-serif;
  font-size: $em;
  color: $black;
  .inner-wrapper, .form-group {
    max-width: $medium-width;
    width: $full;
    margin: 0 auto;
    position: relative;
  }
  .branding {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: $em*2.5;
  }
  .preferences {
    font-size: $em*.1.2;
    font-weight: 600;
  }
  .question-title {
    font-size: $em*2.5;
  }
  .headline {
    font-size: $em*1.8;
  }
  .results-description {
    font-size: $em;
  }
  .bike-results-headline {
    font-size: $em*1.5;
  }
  .bike-results-sub-head {
    font-size: $em*1.2;
  }
}



// MOLECULAR LEVEL ELEMENTS
.section-headline {
  border-bottom: $em/8 solid $black;
  width: $full;
}
.section-content {
  margin: $vertical-em;
}

// ATOMIC LEVEL ELEMENTS

// buttons
.action {
  font-weight: 200;
  border-radius: 2px;
  color: $white;
  @include transition($delay, $prop, $easing);
  &:hover {
    color: $white;
  }
  &:focus {
    outline: none;
  }
  &.primary-action {
    @include button-colors($primary, $primary-dark);
    &:hover {
      @include button-colors($primary-dark, $primary);
    }
  }
  &.secondary-action {
    @include button-colors($secondary, $secondary-dark);
    &:hover {
      @include button-colors($secondary-dark, $secondary);
    }
  }
}

// links
a {
  &.primary-link {
    font-size: $em*1.3;
  }
  &.secondary-link {
    font-weight: 500;
  }
}
