@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

$large: 949px;
$tablet: 767px;
$hundo: 100%;
$large-width: 1180px;
$medium-width: 900px;

// COLORS
$primary-dark: #095299;
$primary: #156ABD;
$primary-light: #5E98D1;

$secondary-dark: #B76C00;
$secondary: #FF9C0B;
$secondary-light: #FFC167;

$white: #ffffff;
$dark-grey: #4b4b4b;
$light-grey: #f9f9f9;
$grey: #f5f6f5;
$black: #2b2b2b;

// TIMING & TRANSITIONS
$delay: .3s;
$prop: background;
$easing: ease-in-out;

// BASE SIZING
$em: 16px;
$vertical-em: $em 0;
$horizontal-em: 0 $em;
$center: 0 auto;
$full: 100%;

// import reference styles
@import "guide";
@import "client";
@import "admin";
@import "questions_admin";
